@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic';
  src: local('ITC Avant Garde Gothic Bk'), local('ITC-Avant-Garde-Gothic-Bk'),
       url('../fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'),
       url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
       url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.Navbar {
  grid-area: navbar;
  background: rgb(244, 244, 244);
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 425px);
  overflow: hidden;
}

.navbar-content {
  height: 100%;
  overflow-y: auto;
}

.navbar-title {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: 'Myriad Pro Regular', sans-serif;
  color: #565656;
  padding-left: 12px;
  border: 2px solid #dfdfdf;
  border-top: none;
  border-radius: 8px;
  background: linear-gradient(#efefef, #cecece, #efefef);

  
}

.nav-links {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-link, .social-link {
  display: block;
  padding: 12px 16px;
  color: #131064;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.2s ease;
  /* font-family: 'ITC Avant Garde Gothic', sans-serif; */
  font-family: 'Myriad Pro Regular', sans-serif;
  font-weight: bold;
}


.nav-link:hover, .social-link:hover {
  color: #1f2937;
  background-color: #f3f4f6;
}

.nav-link.active, .social-link.active {
  background-color: #e5e7eb;
  color: #111827;
}

.navbar-section {
  border-top: 1px solid #e5e7eb;
}

.section-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 16px;
}

.nav-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  vertical-align: middle;
  border-radius: 4px;
}


.nav-link,
.social-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #122260;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.2s ease;
  /* font-family: 'ITC Avant Garde Gothic', sans-serif; */
  font-weight: bold;
  font-family: 'Myriad Pro Regular', sans-serif;
  border-bottom: 1px solid #e5e5e5; 
}

.nav-link:last-child,
.social-link:last-child {
  border-bottom: none; 
}

.nav-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
}




